#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0;
  padding: 0rem;
  /* text-align: center; */
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

section {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
}

/* html, body {
    overflow-x: hidden;
} */
