#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 0rem 2rem;
  text-align: center;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

html, body {
    overflow-x: hidden;
}
